[Desktop Entry]
Encoding=UTF-8
Name=Link to  Eclipse.org 
Type=Link
URL=http://www.eclipse.org/eclipse.org-common/themes/Nova/images/eclipse.png
Icon=image-png
